@using Sitecore
@model Sitecore.Mvc.Presentation.RenderingModel

<div class="row">
    <div class="col-sm-6">
        @Html.Sitecore().DynamicPlaceholder("pos1-col-6-wide")
    </div>
    <div class="col-sm-6">
        @Html.Sitecore().DynamicPlaceholder("pos2-col-6-wide")
    </div>
</div>

