@using MarketingVillage.Feature.Card.Models
@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@inherits Glass.Mapper.Sc.Web.Mvc.GlassView<C01___Card_Item>
@{
    var parameters = GetRenderingParameters<C01___Card>();
}

<div class="panel panel-default text-center">
    <div class="panel-heading">
        @*<img class="card-img-top" src="images/263x170.jpg" alt="">*@
        @RenderImage(Model, x => x.Image, isEditable: true)
    </div>
    <div class="panel-body">
        <h4>@Editable(Model, x => x.Title)</h4>
        <p>@Editable(Model, x => x.Description)</p>
        <a href="#" class="btn btn-primary">@Editable(Model, x => x.Button_Title)</a>
    </div>
</div>