@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@model RenderingModel
@{

}
<div class="card">
    <img class="card-img-top" src="images/263x170.jpg" alt="">
    <div class="card-block">
        <h3 class="card-title">Card Title </h3>
        <p class="card-text">Vestibulum ac fringilla ligula. Nam volutpat  est non scelerisque. </p>
    </div>
</div>