<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
  <!-- 
    Sitecore connection strings.
    All database connections for Sitecore are configured here.
  -->
  <add name="core" connectionString="Data Source=DESKTOP-71EJ25A;Initial Catalog=marketingvillage_core;Integrated Security=False;User ID=sa;Password=b" />
  <add name="master" connectionString="Data Source=DESKTOP-71EJ25A;Initial Catalog=marketingvillage_master;Integrated Security=False;User ID=sa;Password=b" />
  <add name="web" connectionString="Data Source=DESKTOP-71EJ25A;Initial Catalog=marketingvillage_web;Integrated Security=False;User ID=sa;Password=b" />
  <add name="analytics" connectionString="mongodb://localhost:27017/marketingvillage_analytics" />
  <add name="tracking.live" connectionString="mongodb://localhost:27017/marketingvillage_tracking_live" />
  <add name="tracking.history" connectionString="mongodb://localhost:27017/marketingvillage_tracking_history" />
  <add name="tracking.contact" connectionString="mongodb://localhost:27017/marketingvillage_tracking_contact" />
  <add name="reporting" connectionString="Data Source=DESKTOP-71EJ25A;Initial Catalog=marketingvillage_reporting;Integrated Security=False;User ID=sa;Password=b" />
  <!--<add name="reporting.apikey" connectionString="Data Source=DESKTOP-71EJ25A;Initial Catalog=marketingvillage_reporting.apikey;Integrated Security=False;User ID=sa;Password=b" />-->
</connectionStrings>