<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <pipelines>
      <initializeDependencyInjection>
        <processor type="MarketingVillage.Foundation.Orm.DI.RegisterRegisterContainer, MarketingVillage.Foundation.Orm" />
      </initializeDependencyInjection>
    </pipelines>
  </sitecore>
</configuration>
