<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <pipelines>
      <initializeDependencyInjection>
        <processor type="MarketingVillage.Foundation.ContentRepository.DI.RegisterContainer, MarketingVillage.Foundation.ContentRepository" />
      </initializeDependencyInjection>
    </pipelines>
  </sitecore>
</configuration>
